<div id='personal-details'>
  <h3 class="fw-bold"><%= user.name %></h3>
  <p class="lead"><%= user.profile_title %></p>
  <p class="lead text-primary"><%= user.address %></p>
</div>

<div id="user-connection-status">
  
  <% if user_signed_in?  %>
    <% if current_user.check_if_already_connected?(user) %>
      <%= link_to "Connect", connections_path, class:"btn btn-primary", data: { controller:"connections", turbo_method: :post, requester_id: current_user.id, connected_id: user.id, connections_target:"connection" } %>
    <% elsif get_connection_status(user) == "pending" %>
      <%= render "connections/create", connector: user %>
    <% elsif get_connection_status(user) == "accepted" %>
      <button type="button" class="btn btn-success">Connected</button>
    <% elsif get_connection_status(user) == "rejected" %>
      <button type="button" class="btn btn-danger">Rejected</button>
    <% end %>
  <% end %>
</div>